.dialogs{
   display: inline-block;
   margin: 25px;
}
.dialog{
display: block;
margin: 20px;
width: 50px;

}
.messages{
  display: inline-block;
   margin: 25px;
}
.message{
display: block;

}

@media screen and  (min-width:300px) and (max-width:414px) {
.dialog{
display: inline-block;
margin:9px;
}
}
