.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItem{
   padding: 25px;
}
.dialog{
	padding: 25px;
}
.dialog.active{
  padding: 25px;
  color: red;
}
.messages{
 padding: 25px;
}
.message{
  padding: 20px;
}